<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>calculators</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/calculators.styles.css" asp-append-version="true" />
</head>
<style>

    body {
        font-family: 'Open Sans',sans-serif;
        background: #11998e; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #container {
        width: 100%;
        height: 100%;
        /* height: auto;
        width: auto; */
        /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(2.png); */
        /* margin: 0px auto;	 */
    }

    .name {
        color: whitesmoke;
        text-align: center;
    }

    #calculator {
        width: 320px;
        height: 555px;
        background-color: #1C2833;
        padding-top: 0px;
        padding-bottom: 10px;
        ;
        margin: 0px auto;
        top: 20px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #result {
        height: 120px;
    }

    #history {
        text-align: right;
        height: 20px;
        margin: 0 20px;
        padding-top: 20px;
        font-size: 20px;
        color: wheat;
    }

    #output {
        text-align: right;
        height: 60px;
        margin: 10px 20px;
        font-size: 23px;
        margin-top:22px;
        margin-right:30px;
        color: wheat;
        font-family: digital-7;
    }

    #keyboard {
        height: 400px;
    }

    .operator, .number, .empty {
        width: 50px;
        height: 50px;
        margin: 15px;
        float: left;
        border-radius: 50%;
        border-width: 0;
        font-weight: bold;
        font-size: 15px;
        color: white;
    }

    .number, .empty {
        background-color: #212F3D;
    }

    .number, .operator {
        cursor: pointer;
    }

        .operator:active, .number:active {
            font-size: 18px;
        }

        .operator:focus, .number:focus, .empty:focus {
            outline: 0;
        }

    button:nth-child(1) {
        font-size: 20px;
        background-color: #82E0AA;
    }

    button:nth-child(2) {
        font-size: 20px;
        background-color: #E59866;
    }

    button:nth-child(3) {
        font-size: 20px;
        background-color: orange;
    }

    button:nth-child(4) {
        font-size: 20px;
        background-color: #20b2aa;
    }

    button:nth-child(8) {
        font-size: 20px;
        background-color: #F1C40F;
    }

    button:nth-child(12) {
        font-size: 20px;
        background-color: #f08080;
    }

    button:nth-child(16) {
        font-size: 20px;
        background-color: #7d93e0;
    }

    button:nth-child(20) {
        font-size: 20px;
        background-color: #9477af;
    }
</style>

<body>
    <div id="container">
        <div id="calculator">
            <div id="result">
                <div id="history">
                    <p id="history-value"></p>
                </div>
                <div id="output">
                    <p id="output-value"></p>
                </div>
            </div>
            <div id="keyboard">
                <button class="operator" id="clear">C</button>
                <button class="operator" id="backspace">CE</button>
                <button class="operator" id="%">%</button>
                <button class="operator" id="/">&#247;</button>
                <button class="number" id="7">7</button>
                <button class="number" id="8">8</button>
                <button class="number" id="9">9</button>
                <button class="operator" id="*">&times;</button>
                <button class="number" id="4">4</button>
                <button class="number" id="5">5</button>
                <button class="number" id="6">6</button>
                <button class="operator" id="-">-</button>
                <button class="number" id="1">1</button>
                <button class="number" id="2">2</button>
                <button class="number" id="3">3</button>
                <button class="operator" id="+">+</button>
                <button class="empty" id="empty"></button>
                <button class="number" id="0">0</button>
                <button class="empty" id="empty"></button>
                <button class="operator" id="=">=</button>
            </div>
        </div>


    </div>
    <script src="script.js"></script>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function getHistory() {
        return document.getElementById("history-value").innerText;
    }
    function printHistory(num) {
        document.getElementById("history-value").innerText = num;
    }
    function getOutput() {
        return document.getElementById("output-value").innerText;
    }
    function printOutput(num) {
        if (num == "") {
            document.getElementById("output-value").innerText = num;
        }
        else {
            document.getElementById("output-value").innerText = getFormattedNumber(num);
        }
    }
    function getFormattedNumber(num) {
        if (num == "-") {
            return "";
        }
        var n = Number(num);
        var value = n.toLocaleString("en");
        return value;
    }
    function reverseNumberFormat(num) {
        return Number(num.replace(/,/g, ''));
    }
    var operator = document.getElementsByClassName("operator");
    for (var i = 0; i < operator.length; i++) {
        operator[i].addEventListener('click', function () {
            if (this.id == "clear") {
                printHistory("");
                printOutput("");
            }
            else if (this.id == "backspace") {
                var output = reverseNumberFormat(getOutput()).toString();
                if (output) {//if output has a value
                    output = output.substr(0, output.length - 1);
                    printOutput(output);
                }
            }
            else {
                var output = getOutput();
                var history = getHistory();
                if (output == "" && history != "") {
                    if (isNaN(history[history.length - 1])) {
                        history = history.substr(0, history.length - 1);
                    }
                }
                if (output != "" || history != "") {
                    output = output == "" ? output : reverseNumberFormat(output);
                    history = history + output;
                    if (this.id == "=") {
                        var result = eval(history);
                        printOutput(result);
                        printHistory("");
                    }
                    else {
                        history = history + this.id;
                        printHistory(history);
                        printOutput("");
                    }
                }
            }

        });
    }
    var number = document.getElementsByClassName("number");
    for (var i = 0; i < number.length; i++) {
        number[i].addEventListener('click', function () {
            var output = reverseNumberFormat(getOutput());
            if (output != NaN) { //if output is a number
                output = output + this.id;
                printOutput(output);
            }
        });
    }
</script>